# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/
Release/
x64/*
out/
build_clang/
built/
build/
build_gcc/
vcpkg_installed/
bin/*
Bin/*
.vs/
backup/
app1/
/updater/Cpp20_Ultimate_Project_Updater/
Cpp20_Ultimate_Project_Updater.exe
update.exe


*.ninja_log
ninja.zip

*.pdb
*.idb
*.log
*.tlog
AlmondShell/examples/ConsoleApplication1/atlas_dump/

AlmondShell/examples/ConsoleApplication1/atlases/menubuttons_0_0.ppm
AlmondShell/bin/
AlmondShell/Bin/
AlmondShell/docs/api/

AlmondShell/examples/ConsoleApplication1/atlases/__agui_builtin_0_1.ppm
AlmondShell/examples/ConsoleApplication1/atlases/__agui_builtin_0_0.ppm
AlmondShell/examples/ConsoleApplication1/atlases/font_atlas_1_1.ppm
AlmondShell/examples/ConsoleApplication1/atlases/font_atlas_1_2.ppm

*.cmake
*.bin
